# ---- API ----
NODE_ENV=development
PORT=3001

# ---- Database ----
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=ctfguide
DB_PASSWORD=ctfguide_secret
DB_DATABASE=ctfguide

# ---- Web ----
VITE_API_URL=http://localhost:3001/api